@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
  --dark-Violet: hsl(256, 26%, 20%);
  --grayish-Blue: hsl(216, 30%, 68%);
  --very-Dark-Violet: hsl(270, 9%, 17%);
  --dark-Grayish-Violet: hsl(273, 4%, 51%);
  --very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
  margin: auto;
  width: 90%;
  height: 100vh;
}

header {
  padding-top: 25px;
  width: 100%
}

header h1 {
  font-size: 1.7em;
  float: left;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
  
}

#nav-header{
  margin-bottom: 20px;
  padding: 4px 4px;
  border: 2px solid black;
  float: right;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
}

#nav-header li {
  list-style-type: none;
  background-color: rgb(138, 95, 95);
  padding: 25px 20px;
}

#lista a {
  color: white;
  text-decoration: none;
  background-color: rgb(99, 68, 68);
  padding: 15px 25px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
  font-weight: bolder;
  
}

#nav-header span {
  cursor: pointer; 
}

/**HEADER AND MENU HAMBURGUER */

#main-content {
  width: 100%;
  text-align: center;
  color: white;
}

 .main-image img {
  width: 100%;
 }

.paragraph-content {
  text-align: center;
  width: 100%;
  height: 120vh;
  background-color: var(--dark-Violet);
  margin-top: -5px;
  padding-top: 60px;

}

.paragraph-content h2 {
  text-align: center;
  font-size: 3em;
  padding-bottom: 30px;
}

.paragraph-content p {
  font-size: 1.3em;
  width: 80%;
  margin-left:10%;
}

.paragraph-content button {
  background-color: transparent;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid white;
}

.paragraph-content button a {
  color: white;
  text-decoration:none;
  font-size: 1.3em;
}

/* PARAGRAPH SECTION ----------*/

.icons-section {
  width: 100%;
  text-align: center;
  margin-top: 50%;
  
}

.icons-section h2 {
  font-size: 2.7em;
  padding-bottom: 20%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
  
}

.icons-select {
  padding: 20px;
  font-size: 1.2em;
  
}

.icons-select h3 {
  font-size: 1.6em;
  font-weight: bolder;
  padding: 20px 15px;
  
}

.icons-select p {
  color: var(--dark-Grayish-Violet)

}

/*ICONS SECTION ------------*/

#find-section {
  background-color: var(--dark-Violet);
  width: 100%;
  height: 50vh;
  text-align: center;
  color: white;
}

#find-section h2 {
  font-size:2em;
  padding-top: 75px;
}

#button-main-content {
background-color: transparent;
margin-top: 40px;
padding: 15px;
border-radius: 5px;
border: 2px solid white;
}

#button-main-content a {
  color: white;
  text-decoration: none;
}


footer {
  background-color: var(--dark-Grayish-Violet);
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  margin-top: 30vh
}

footer h1 {
  width: 100%;
  font-size: 2em;
}

.footer-icons {
  width: 40px;
  height: 30px;
  padding: 30px;
}